<a href="https://colab.research.google.com/github/batwhite/Data-Science-Project/blob/master/Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [ ]:
!git clone https://github.com/batwhite/Data-Science-Project.git

Cloning into 'Data-Science-Project'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 9 (delta 0), reused 9 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib

import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import os
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#for matplotlib


%matplotlib inline

In [ ]:
path_transaction = "/content/Data-Science-Project/Data/QVI_transaction_data.xlsx"
path_trends = "/content/Data-Science-Project/Data/QVI_purchase_behaviour.csv"
trends_data = pd.read_csv(path_trends)
trends_data

In [ ]:
categorical_lifestage = pd.Categorical(trends_data.LIFESTAGE)
categorical_lifestage.describe()
plt.figure()

fig,ax = plt.subplots(nrows = 1,ncols = 2,figsize = (20,10))

ax[0].bar(trends_data.LIFESTAGE.value_counts().index,trends_data.LIFESTAGE.value_counts()) 
ax[0].tick_params(labelrotation=90)
ax[1].bar(trends_data.PREMIUM_CUSTOMER.value_counts().index,trends_data.PREMIUM_CUSTOMER.value_counts())
ax[1].tick_params(labelrotation = 90)
plt.show()


# trends_data.LIFESTAGE[categorical_lifestage[1]]

In [ ]:
transaction_data = pd.read_excel(path_transaction, engine = 'openpyxl')
transaction_data

In [ ]:
#checking whether there are any empty values
trends_data.isnull().sum().sum()
transaction_data.isnull().sum().sum()

In [ ]:
merged_data = pd.merge(transaction_data,trends_data, how = "right",on = "LYLTY_CARD_NBR")
merged_data.head()

In [ ]:
#checking that all the customers have transaction records
merged_data.isnull().sum().sum()

#gettinig all the names of the products
unique_prod = merged_data["PROD_NAME"].unique()
unique_prod

In [ ]:
split_prods = merged_data["PROD_NAME"].str.replace(r'([0-9]+[gG])','').str.replace(r'[^\w]', ' ').str.split()
split_prods

In [ ]:
#changing date time format
from datetime import date, timedelta
start = date(1899,12,30)

merged_data["DATE"] = merged_data["DATE"].apply(lambda x: timedelta(x)+start)
# pd.to_datetime(merged_data["DATE"])

In [ ]:
merged_data["DATE"][2]

In [ ]:
# merged_data.sort_values(['DATE'])
# mer = merged_data.groupby(["PREMIUM_CUSTOMER"])
merged_data["DATE"].index.dtype
merged_data.groupby([pd.Grouper(key = "DATE", freq = "1W")])
# merged_data["DATE"].map(type) == type(merged_data["DATE"][0])

In [ ]:
df = pd.DataFrame(

   {

       "Publish date": [

            "2000-01-02",

            "2000-01-02",

            "2000-01-09",

            "2000-01-16"

        ],

        "ID": [0, 1, 2, 3],

        "Price": [10, 20, 30, 40]

    }

)

df["Publish date"] = pd.to_datetime(df["Publish date"])

In [ ]:
type(df["Publish date"][1])

In [ ]:
df["Publish date"][2]
df.groupby(pd.Grouper(key="Publish date", freq="1W")).mean()

Timestamp('2000-01-09 00:00:00')

               ID  Price
Publish date
2000-01-02    0.5   15.0
2000-01-09    2.0   30.0
2000-01-16    3.0   40.0